{{#link-to 'dashboard.students.attendance.create' model class='waves-effect waves-light btn'}}
  Add Attendance Record
{{/link-to}}

{{#md-collection content=records as |attendance|}}
  <div class='collection-item'>
    {{moment-date attendance.date}}

    <span class="secondary-content">
      {{attendance.status}}
    </span>
  </div>
{{/md-collection}}