{{#md-navbar name='Attendance Tracker' class='indigo' homeRoute='dashboard'}}
  <!-- A workaround to get the "active" class
    to apply to the active <li> automatically -->
  {{#if session.isAuthenticated}}
    {{#link-to 'logout' tagName='li'}}
      {{link-to 'Logout' 'logout'}}
    {{/link-to}}
  {{/if}}
{{/md-navbar}}

<div class="container">{{outlet}}</div>

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}